{% extends 'layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Page de connexion</h1>

        <form class="form-group" action="login" method="POST">

            <label for="email">Adresse mail</label>
            <input class="form-control" type="text" name="email">

            <label for="password">Mot de passe</label>
            <input class="form-control" type="password" name="password">

            <label for="remember">Se souvenir de moi</label>
            <input type="checkbox" name="remember">

            <input class="form-control" class="btn btn-primary" type="submit">
        </form>

        {% if msg is not null %}
            {{ msg }}
        {% endif %}
    </div>

    
{% endblock %}
